


#reddit {
    width: 150px;
    height: 150px;
    background-color: #268bd2;
}

#social-media-contact img {
    width: 100%;
    height: 100%;
}

.social {
    padding: 5% 5% 5% 5%;
    display: inline-block;
}
